/* :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
} */

/* https://lenguajecss.com/css/interacciones/scrollbars/ */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75, 75, 77) rgb(19, 19, 18);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(19, 18, 17);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(19, 18, 17);;
  border-radius: 20px;
  border: 3px solid orange;
}